* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header2 {
    background-color: lightgrey;
    height: 110px;
}

#h12 {
    font-size: 200%;
    padding: 5px 15px;
}

#listra2 {
    width: 2379px;
    height: 20px;
}

.botao2 {
    display: flex;
    gap: 7px;
    margin-left: 7px;
    margin-top: 3px;
}

#button1 {
    height: 30px;
    width: 75px;
    font-size: 100%;
}

#button2 {
    margin-left: 2px;
    height: 30px;
    width: 90px;
    font-size: 100%;
}

#button3 {
    height: 30px;
    width: 70px;
    font-size: 100%;
}

#button4 {
    margin-left: 2px;
    height: 30px;
    width: 125px;
    font-size: 100%;
}

#button5 {
    height: 30px;
    width: 103px;
    font-size: 100%;
}

#button6 {
    margin-left: 2px;
    height: 30px;
    width: 37px;
    font-size: 100%;
}

#button7 {
    height: 30px;
    width: 95px;
    font-size: 100%;
}

#button8 {
    height: 30px;
    width: 95px;
    font-size: 100%;
}

#button9 {
    margin-left: 2px;
    height: 30px;
    width: 80px;
    font-size: 100%;
}

#button0 {
    margin-left: 2px;
    height: 30px;
    width: 45px;
    font-size: 100%;
}

#button10 {
    margin-left: 2px;
    height: 30px;
    width: 160px;
    font-size: 100%;
}

#hr {
    margin-top: 1.5px;
    height: 25px;
    margin-left: 2px;
    width: 2px;
    background-color: grey;
    opacity: 80%;
}

.tudo {
    display: flex;
}

.sectionNavigation {
    height: 1110px;
    width: 400px;
    border-right: 10px solid lightslategrey;
    
}

.headerNavigation {
    display: flex;
    gap: 20px;
    margin-left: 20px;
    margin-bottom: -7px;
}

#divNavigation {
    font-size: 120%;
    margin-top: 10px;
}

#divRepositories {
    font-size: 90%;
    margin-top: 5px;
    color: darkslategrey;
    margin-top: 15px;
}

#divPasta {
    margin-top: 15px;
    margin-left: 30px;
}

.sectionPrincipal {
    border-top: 4px solid steelblue;
    background-color: lightgrey;
}

#triangle-up {
	width: 0;
	height: 0;
	border-left: 9.5px solid transparent;
	border-right: 9.5px solid transparent;
	border-bottom: 10px solid steelblue;
    margin-left: 100px;
}

#triangulo {
    margin-top: 10px;
}

.botoesdecima {
    display: flex;
    height: 35px;
    gap: 10px;
    border-right: 1px solid darkslategrey;
}

#buttons1 {
    margin-left: 10px;
    margin-top: 3px;
    font-size: 100%;
    width: 70px;
    height: 29px;
}

#buttons2 {
    margin-top: 3px;
    font-size: 100%;
    width: 35px;
    height: 29px;
}

#buttons3 {
    margin-top: 3px;
    font-size: 100%;
    width: 35px;
    height: 29px;
}

#hr1 {
    margin-top: 4.3px;
    height: 25px;
    margin-left: 5px;
    width: 1.5px;
    background-color: grey;
    opacity: 80%;
}

#buttons4 {
    margin-left: 5px;
    margin-top: 3px;
    font-size: 100%;
    width: 35px;
    height: 29px;
}

#buttons5 {
    margin-top: 3px;
    font-size: 100%;
    width: 60px;
    height: 29px;
}

#buttons6 {
    margin-left: 36px;
    margin-top: 3px;
    font-size: 100%;
    width: 35px;
    height: 29px;
}

.tabela {
    margin: 0px;
    padding: 0px;
    width: 400px;
    background-color: lightgrey;
}

#th1 {
    background-color: lightgrey;
    width: 40px;
    height: 40px;
    border-right: 1px solid darkslategrey;
    border-bottom: 1px solid darkslategrey;
    border-top: 1px solid darkslategrey;
    opacity: 30%;
}

#th {
    background-color: lightgrey;
    width: 40px;
    height: 40px;
    border-right: 1px solid darkslategrey;
    border-bottom: 1px solid darkslategrey;
    opacity: 30%;
}

#th2 {
    background-color: lightgrey;
    width: 95px;
    height: 40px;
    border-right: 1px solid darkslategrey;
    border-bottom: 1px solid darkslategrey;
    border-top: 1px solid darkslategrey;
    opacity: 30%;
}

#th3 {
    background-color: lightgrey;
    width: 120px;
    height: 40px;
    text-align: left;
    border-right: 1px solid darkslategrey;
    border-bottom: 1px solid darkslategrey;
    border-top: 1px solid darkslategrey;
    opacity: 30%;
}

#p {
    margin-left: 9px;
}

#th4 {
    background-color: lightgrey;
    width: 120px;
    height: 40px;
    text-align: left;
    border-bottom: 1px solid darkslategrey;
    border-top: 1px solid darkslategrey;
    border-right: 1px solid darkslategrey;
    opacity: 30%;
}

#pagetype {
    background-color: white;
}

#pageid {
    background-color: white;
    text-align: start;
}

#title {
    background-color: white;
}

.sectiongrandona {
    background-color: whitesmoke;
    width: 1968px;
    height: 480px;
}

#bonito {
    background-color: white;
    height: 35px;
    width: 1954px;
    margin-left: 15px;
}

#bonito2 {
    background-color: lightslategray;
    height: 8px;
    width: 1935px;
    margin-left: 19px;
    opacity: 50%;
}

.sectionOverview {
    height: 40px;
    width: 1968px;
    margin-top: 25px;
}

.headerOverview {
    display: flex;
    gap: 30px;
}

#img {
    margin-left: 25px;
    font-size: 107%;
    margin-top: 4px;
}

#overview {
    font-size: 150%;
}

#toolbar {
    font-size: 70%;
    margin-top: 3px;
    margin-left: 10px;
    color: darkslategrey;
}

#wire {
    font-size: 70%;
    margin-top: 3px;
    color: darkslategrey;
}

#pastinha {
    margin-left: 800px;
}

.botaozinho {
    border-top: 4px solid steelblue;
    background-color: lightgrey;
    height: 40px;
    width: 1954px;
    margin-left: 15px;
}

#page {
    margin-left: 9px;
    margin-top: 5.5px;
    font-size: 100%;
    height: 29px;
    width: 170px;
}

#sec {
    margin-left: 2px;
    margin-top: 5.5px;
    font-size: 100%;
    height: 29px;
    width: 90px;
}

#uibb {
    margin-left: 2px;
    margin-top: 5.5px;
    font-size: 100%;
    height: 29px;
    width: 76px;
}

#lixo2 {
    margin-left: 2px;
    margin-top: 5.5px;
    font-size: 100%;
    height: 29px;
    width: 30px;
}

#up {
    margin-left: 2px;
    margin-top: 5.5px;
    font-size: 100%;
    height: 29px;
    width: 31px;
}

#down {
    margin-left: 2px;
    margin-top: 5.5px;
    font-size: 100%;
    height: 29px;
    width: 52px;
}

#configure {
    margin-left: 830px;
    margin-top: 5.5px;
    font-size: 100%;
    height: 29px;
    width: 125px;
}

#mocinho {
    margin-left: 2px;
    margin-top: 5.5px;
    font-size: 100%;
    height: 28px;
    width: 30px;
}

.tabela2 {
    margin-top: 1px;
    margin-left: 15px;
    width: 1500px;
    background-color: lightgrey;
}

#elemento {
    background-color: lightgrey;
    width: 40px;
    height: 40px;
    border: 1px solid darkslategrey;
    opacity: 30%;
}

#element {
    background-color: lightgrey;
    width: 300px;
    height: 40px;
    border-right: 1px solid darkslategrey;
    border-bottom: 1px solid darkslategrey;
    border-top: 1px solid darkslategrey;
    opacity: 30%;
    text-align: start;
}

#component {
    background-color: lightgrey;
    width: 300px;
    height: 40px;
    border-right: 1px solid darkslategrey;
    border-bottom: 1px solid darkslategrey;
    border-top: 1px solid darkslategrey;
    opacity: 30%;
    text-align: start;
}

#config {
    background-color: lightgrey;
    width: 300px;
    height: 40px;
    border-right: 1px solid darkslategrey;
    border-bottom: 1px solid darkslategrey;
    border-top: 1px solid darkslategrey;
    opacity: 30%;
    text-align: start;
}

#window {
    background-color: lightgrey;
    width: 300px;
    height: 40px;
    border-right: 1px solid darkslategrey;
    border-bottom: 1px solid darkslategrey;
    border-top: 1px solid darkslategrey;
    opacity: 30%;
    text-align: start;
}

#elemento2 {
    background-color: lightgrey;
    width: 40px;
    height: 40px;
    border-bottom: 1px solid darkslategrey;
    border-left: 1px solid darkslategrey;
    border-right: 1px solid darkslategrey;
    opacity: 30%;
}

#element2 {
    background-color: lightgrey;
    width: 300px;
    height: 40px;
    border-right: 1px solid darkslategrey;
    border-bottom: 1px solid darkslategrey;
    opacity: 30%;
    text-align: start;
}

#component2 {
    background-color: lightgrey;
    width: 300px;
    height: 40px;
    border-right: 1px solid darkslategrey;
    border-bottom: 1px solid darkslategrey;
    opacity: 30%;
    text-align: start;
}

#config2 {
    background-color: lightgrey;
    width: 300px;
    height: 40px;
    border-right: 1px solid darkslategrey;
    border-bottom: 1px solid darkslategrey;
    opacity: 30%;
    text-align: start;
}

#window2 {
    background-color: lightgrey;
    width: 300px;
    height: 40px;
    border-right: 1px solid darkslategrey;
    border-bottom: 1px solid darkslategrey;
    opacity: 30%;
    text-align: start;
}

#barra {
    background-image: url(../imagens/barra.png);
    background-repeat: no-repeat;
    width: 1000px;
    margin-top: 5px;
    margin-left: 15px;
}

#image {
    width: 1500px;
    height: 24px;
}

#element3 {
    background-color: whitesmoke;
    width: 300px;
    height: 40px;
    border-right: 1px solid darkslategrey;
    border-bottom: 1px solid darkslategrey;
    opacity: 30%;
    text-align: start;
}

#component3 {
    background-color: whitesmoke;
    width: 300px;
    height: 40px;
    border-right: 1px solid darkslategrey;
    border-bottom: 1px solid darkslategrey;
    opacity: 30%;
    text-align: start;
}

#config3 {
    background-color: whitesmoke;
    width: 300px;
    height: 40px;
    border-right: 1px solid darkslategrey;
    border-bottom: 1px solid darkslategrey;
    opacity: 30%;
    text-align: start;
}

#window3 {
    background-color: whitesmoke;
    width: 300px;
    height: 40px;
    border-right: 1px solid darkslategrey;
    border-bottom: 1px solid darkslategrey;
    opacity: 30%;
    text-align: start;
}

#component4 {
    background-color: white;
    width: 300px;
    height: 40px;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

#config4 {
    background-color: white;
    width: 300px;
    height: 40px;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

#window4 {
    background-color: white;
    width: 300px;
    height: 40px;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.sectiondebaixo {
    margin-top: 20px;
    width: 1968px;
    height: 400px;
    background-color: white;
}

.attributes {
    display: flex;
    gap: 740px;
    margin-left: 3px;
}

#h1 {
    font-size: 170%;
}

#final {
    width: 80px;
    height: 30px;
}

.procura {
    width: 1968px;
    height: 300px;
    border-top: 4px solid steelblue;
    margin-top: 7px;
    display: flex;
}

.divgrandeesquerda {
    height: 350px;
    width: 600px;
    margin-left: 150px;
    margin-top: 20px;
}

.divesquerda {
    display: flex;
    margin-top: 0px;
    width: 600px;
    height: 30px;
    margin-top: 5px;
}

#bonito5 {
    font-size: 200%;
    color: steelblue;
}

#divbloco {
    border: 1px solid darkslategrey;
    width: 440px;
    height: 25px;
    display: flex;
    margin-left: 20px;
}

#divbloco1 {
    border: 1px solid darkslategrey;
    width: 440px;
    height: 25px;
    display: flex;
    margin-left: 70px;
}

#divbloco2 {
    border: 1px solid darkslategrey;
    width: 440px;
    height: 25px;
    display: flex;
    margin-left: 56px;
}

#divbloco3 {
    border: 1px solid darkslategrey;
    width: 440px;
    height: 25px;
    display: flex;
    margin-left: 82px;
}

#divbloco4 {
    border: 1px solid darkslategrey;
    width: 440px;
    height: 25px;
    display: flex;
    margin-left: 41px;
}

#divbloco5 {
    border: 1px solid darkslategrey;
    width: 440px;
    height: 25px;
    display: flex;
    margin-left: 11px;
}

#divbloco6 {
    border: 1px solid darkslategrey;
    width: 440px;
    height: 25px;
    display: flex;
    margin-left: 86px;
}

#divbloco7 {
    border: 1px solid darkslategrey;
    width: 440px;
    height: 25px;
    display: flex;
    margin-left: 11px;
}

#divbloco10 {
    border: 1px solid darkslategrey;
    width: 440px;
    height: 25px;
    display: flex;
    margin-left: 147px;
}

#divbloco11 {
    border: 1px solid darkslategrey;
    width: 440px;
    height: 25px;
    display: flex;
    margin-left: 132px;
}

#divbloco12 {
    border: 1px solid darkslategrey;
    width: 440px;
    height: 25px;
    display: flex;
    margin-left: 118px;
}

#divbloco13 {
    border: 1px solid darkslategrey;
    width: 440px;
    height: 25px;
    display: flex;
    margin-left: 141px;
}

#divbloco14 {
    border: 1px solid darkslategrey;
    width: 440px;
    height: 25px;
    display: flex;
    margin-left: 48px;
}

#divbloco16 {
    border: 1px solid darkslategrey;
    width: 440px;
    height: 25px;
    display: flex;
    margin-left: 39px;
}

#p3 {
    margin-top: 3px;
}

#p4 {
    margin-top: 2.7px;
    margin-left: 8px;
}

#p6 {
    width: 100px;
}

#p7 {
    width: 130px;
}

#p9 {
    width: 130px;
}

#p5 {
    margin-left: 275px;
}

#p10 {
    margin-left: 414px;
    margin-top: 3px;
}

#p11 {
    margin-left: 8px;
    margin-top: 3px;
}

#p20 {
    margin-left: 415px;
    margin-top: 1.2px;
}

#p21 {
    width: 140px;
}

#p22 {
    width: 180px;
}

#p23 {
    width: 140px;
    margin-top: 4px;
    margin-left: 5px;
}

#p24 {
    width: 150px;
}

.divgrandedireita {
    height: 350px;
    width: 600px;
    margin-left: 190px;
    margin-top: 20px;
}











